* {
  font-size: 90%;
}

body {
  background: #ccc;
}

#command {
    width: 380px;    
}
#source,#preview {
    width: 440px;
}

#source,#preview {
    height: 180px;
}

#preview {
    background: #000;
    color: #fff;
}

#preview * {
    margin-left: 10px;
}

#count {
    color: #666;
}