* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #336;
}
div {
  border-top: dashed #aa3 2px;
}
canvas {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 95%;
  /*overflow: hidden;*/
}
